/**
 * Fix #hidden-link height on short devices by adjusting padding
 */
/*

SHOULD BE IN mediaQ_donut.js

@media screen
and (max-device-height: 500px)
and (-webkit-min-device-pixel-ratio: 2) {
  a#hidden-link {
    padding: 2% 2% 0%;
  }
}
*/



/**
 * iPad sized or similar tablet. Makes text and padding on elements greater
 */
@media screen
and (min-device-width: 760px)
and (-webkit-min-device-pixel-ratio: 2) {

  //SHOULD BE IN mediaQ_donut.scss
  //a#hidden-link {
  //  padding: 3% 2% 6%;
  //}

  div.top {

    padding: 10px 30px;

    .title {
      font-size: 3em;
    }

    p.directions {
      font-size: 2em;
      line-height: 1.5em;
      margin: 25px 0px;
    }
  }

  div.hidden {

    &.top .title {
      font-size: 2em;
      margin: 5px 15px;
    }

    &.button.description {
      bottom: 93.75%;
      left: 85%;

      svg polyline{
        stroke-width: 7px;
      }
    }
  }

  p.industry-text {
    padding: 10px 0px;
  }
}



/**
 * Fix for title margin for iPhone 6+ and similar width devices
 */
@media screen
and (max-device-width: 415px)
and (-webkit-min-device-pixel-ratio: 3) {
  div.top {

    .title {
      //font-size: 1.3em;
    }
  }

  div.hidden {

    &.top .title {
      //margin: 9px 0px;
      font-size: 1.4em;
    }

    &.button.description{
      bottom: 93.25%;
    }
  }
}



/**
 * Fixes initial description dimensions and text attributes on iPhone 5
 */
@media screen
and (max-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  div.top {

    .directions {
      font-size: 1.15em;
    }

    .title {
      font-size: 2em;
    }
  }

  div.hidden {

    &.top {
      padding: 12px 15px 3px;

      .title {
        font-size: 1.1em;
        margin: 0px;
      }
    }
  }
}


/**
 * Fixes button placement on iPhone 4
 */
@media screen
and (max-device-width: 320px)
and (max-device-height: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  div.top {

    .title {
      font-size: 1.3em;
    }
  }

  div.hidden {
    &.top {
      padding: 5px 15px 1px;
    }

    &.button.description {
      bottom: 93%;
    }
  }
}






